<div>
  <h1>Registeration</h1>
  <label for="Name"></label>
  <input
    type="text"
    id="Name"
    placeholder="Enter your name"
    [(ngModel)]="name"
  />
  @if(name.length < 3){
  <p>Name must be at least 3 characters long</p>
  }
  <br />
  <label for="Age"></label>
  <input
    type="number"
    id="Age"
    placeholder="Enter your age"
    [(ngModel)]="age"
  />
  @if(age < 25 || age > 30){
  <p>Age must be between 25 and 30</p>
  }
  <br />
  <button (click)="sendData()">Send</button>
</div>
